@font-face {
    font-family: 'GoogleSans';
    src: url('./GoogleSans-Bold.ttf');
}

@font-face {
    font-family: 'GoogleSans_r';
    src: url('./GoogleSans-Regular.ttf');
}

body, html {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* background: #d9dfec; */
    background: #fff;
    overflow: hidden;
}

.page_content {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

h1 {font-family: 'GoogleSans';}

button#set, button#down {
    display: inline-block;
    text-align: center;
    width: 200px;
    padding: 12px 30px;
    margin: 20px auto;
    outline: 0;
    border: none;
    background: #1296db;
    color: #fff;
    border-radius: 5em;
    font-size: 1.1em;
    line-height: 1.1em;
    cursor: pointer;
    transition: 0.4s;
}

button#set:hover, button#down:hover {
    background: #1258db;
    color: #fff;
}

::placeholder {
    font-size: 1em;
}

input {
    display: block;
    width: 400px;
    padding: 12px 30px;
    margin: 10px auto;
    outline: 0;
    border: none;
    background: #f4f4f4;
    color: #a0a0a0;
    border-radius: 5em;
    font-size: 1.1em;
    line-height: 1.1em;
    /* cursor: pointer; */
    transition: 0.4s;
}